<div class='animate__animated animate__fadeIn animate__faster'>

    <h2>Por Pais</h2>
    <hr>
    
    <div class="row">
        <div class="col">
           <app-pais-input placeholder="Buscar por pais" (onEnter)="buscar($event)" (onDebounce)="sugerencias($event)"></app-pais-input> 
        </div>
    </div>
    
</div>
<ul *ngIf="mostrarSugerencias" class="list-group">
    <li class="list-group-item list-group-item-action" *ngFor="let paisSugerencia of paisesSugeridos">
        <a class="nav-link" [routerLink]="['/pais',paisSugerencia.alpha2Code]">
            {{paisSugerencia.name}}
        </a>
    </li>
    <li class="list-group-item list-group-item-action" (click)="buscarSugerido(termino)">
        <a class="nav-link">
            Buscar "{{termino}}"
        </a>
    </li>

</ul>

<hr>
<div *ngIf="hayError" class="alert alert-danger">
    No se encontro nada con el termino {{termino}}
</div>
<div *ngIf="paises.length > 0" class="row">
    <div class="col">
        
        <app-pais-tabla [paises]="paises"></app-pais-tabla>
        
    </div>
</div>
